
header {
    display: flex;
}

h1 {
    color: blue;
}

article {
    width: 100%;
    height: 300px;
    margin: 10px;
    border-color: gray;
}

iframe {
    width: 100%;
    height: 250px;
}

#skeleton {
    border: 5px solid;

}

#muscle {
    border: 5px solid;
}

#functions {
    border: 5px solid;

}

